{% extends "base/_base.html" %}
{% block title %}{{"About Page"}}{% endblock title %}


{% block content %}
<div class="container text-dark">
    <h3 class="py-3">About Page</h3>
    <p class="text-dark">&Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum esse ut veniam, 
        quasi consequuntur nulla autem odit sed repellat earum nihil asperiores obcaecati deleniti quia enim id iusto labore? Deleniti.</p>
    <p class="pt-2">&Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio modi recusandae possimus repellat sint 
        sit quasi velit veritatis, ullam, enim quisquam similique? Fuga perspiciatis cumque earum obcaecati nemo 
        distinctio quae minus fugiat iste odit eligendi aliquam, magnam perferendis incidunt dolores vero, consectetur est 
        aliquid fugit! Vitae voluptate nesciunt dignissimos cum facilis ducimus sapiente non ab nostrum excepturi unde quis nihil,
        iusto architecto aspernatur cumque neque officia, incidunt illum impedit. Soluta earum aliquam modi laboriosam minus adipisci,
        perferendis fugiat quasi aliquid voluptatum cumque, magnam, officiis alias ad 
        sed odio! Tenetur voluptate incidunt itaque, nostrum omnis voluptatibus sunt cum? Eos, quia consequuntur?</p>
</div>

{% endblock content %}