{% extends "base/_base.html" %}
{% block title %}{{"Contact Page"}}{% endblock title %}


{% block content %}
<div class="container">
<h3 class="py-3">Create Blog</h3>

<form method="post" class="row g-3 col-md-10 col-lg-8" novalidate>
  {% csrf_token %}
  {{form}}
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
  {% if messages %}
  {% for message in messages %}
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header  text-success">
        {% comment %} <img src="..." class="rounded me-2" alt="..."> {% endcomment %}
        <strong class="me-auto">{{message.tags}}</strong>
        {% comment %} <small>11 mins ago</small> {% endcomment %}
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ message }}
      </div>
    </div>
  {% endfor %}
  {% endif %}
</div>

{% endblock content %}


{% block push_scripts %}
<script>
  $(document).ready(function () {
    $('.toast').toast('show');
});
</script>
{% endblock push_scripts %}