{% extends "base/_base.html" %}
{% block title %}{{"Home Page"}}{% endblock title %}


{% block content %}
<div class="container">
    <h3 class="py-3">Home</h3>
    <div class="h-100 p-5 shadow-sm bg-body-tertiary ">
      <h1 class="display-5"><strong>This is blog title</strong></h1>
      <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
      <button class="btn btn-outline-light" type="button">Example button</button>
    </div>
  </div>
{% endblock content %}