{% extends "base/_base.html" %}
{% block title %}{{"login"}}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card my-5 col-lg-8 col-md-10 col-12 pb-3">
            <h3 class="py-3">Login</h3>
            <form class="row g-3" method="post" novalidate>
                {% csrf_token %}
                <div>
                    {% if form.non_field_errors %}
                        {% comment %} <div class="error">{{ form.non_field_errors }}</div> {% endcomment %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                             {% for error in form.non_field_errors %}
                              {{error}}
                             {% endfor %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </div>
                
                
             
                {% comment %} <div class="form-group">
                    <label class="form-label" for="{{form.username.id_for_label}}">{{ form.username.label }}</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}

                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-label" for="{{form.password.id_for_label}}">{{ form.password.label }}</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div class="">
                            {{ error }}
                        </div>
                        {% endfor %}

                    {% endif %}
                </div> {% endcomment %}
                {% comment %} form only {% endcomment %}
                {% comment %} {{form}} {% endcomment %}

                <div class="mb-3">
                    <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                    <input type="text" name="{{ form.username.name }}" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="{{ form.username.id_for_label }}" required>
                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                    <input type="password" name="{{ form.password.name }}" class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="{{ form.password.id_for_label }}" required>
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            
                <div class="col-12">
                    <input class="btn btn-success" type="submit" class="form-control" value="Login">
                </div>
                
            </form>
        </div>    
    </div>
</div>

{% endblock content %}
{% block push_scripts %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'
    
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')
    
        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }
    
            form.classList.add('was-validated')
        }, false)
        })
    })()
    
  
    $(document).ready(function () {
        // Add custom classes to form fields
        $('#id_username').addClass('form-control');
        $('#id_password').addClass('form-control');
    });
</script>

{% endblock push_scripts %}